* {
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #012a4a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-conteiner {
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    margin: 30px;
    padding: 30px;
    background-color: #937B63;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 80vw;
    max-width: 500px
}

#btn-conteiner {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 20px;
}

#btn-conteiner button {
    border: none;
    color: white;
    width: 150px;
    padding: 10px 20px;
    font-size: 20px;
}

#btn-conteiner :nth-child(1) {
    background-color: #8A9B68;
}

#btn-conteiner :nth-child(2) {
    background-color: #931F1D;
}
